In [4]:
def is_prime(num):
    for i in range(2,num):
        if num % i==0:
            print("it is not a prime no")
            break
        else:
            print("it is a prime no")
            break
is_prime(8)

it is not a prime no

In [5]:
is_prime(11)

it is a prime no

In [6]:
def is_prime(num):
    for i in range(2,num):
        if num % i==0:
            return False
            break
        else:
            return True
            break
is_prime(90)

False

In [7]:
for i in 7:
    pass # int is not an iterable object

TypeError: 'int' object is not iterable

In [8]:
for i in [3,4,5,"sufh"]:
    print(i)

3
4
5
sufh

In [10]:
next("sudh") # give next data set one by one
#str object is not an iterator

TypeError: 'str' object is not an iterator

In [11]:
a=iter("sudh")
type(a)

str_iterator

In [12]:
# iterator - eg: next() which helps for iterating the objects.

In [13]:
#iterable: itself behsve like an object abd iterating. eg: list

In [14]:
next(12)

TypeError: 'int' object is not an iterator

In [15]:
# if someting is iterable then only we can convert ibto iterator

In [16]:
iter(12)

TypeError: 'int' object is not iterable

In [17]:
l=[1,2,3,4]
iter(l)

In [18]:
#generator- generating data
range(10) # strating from 0 till 10. generating that datset

range(0, 10)

In [19]:
next(range(10)) # range function is an iterator
# range function is an iterable object

TypeError: 'range' object is not an iterator

In [24]:
range(10)
d=iter(range(10))
next(d) # range is a iterable object / generator object
# range is behaving like generator fun, not giving dataset direct;ly, only giving range

0

In [25]:
def test(n):
    for i in range(n):
        print(i)
test(5)

0
1
2
3
4

In [6]:
def gencube(n):
    for i in range(n):
        print(i**3)
gencube(7)

0
1
8
27
64
125
216

In [7]:
gencube(10)

0
1
8
27
64
125
216
343
512
729

In [12]:
next(gencube(10))

0
1
8
27
64
125
216
343
512
729

TypeError: 'NoneType' object is not an iterator

In [13]:
v=iter(gencube(10))
next(v)

0
1
8
27
64
125
216
343
512
729

TypeError: 'NoneType' object is not iterable

In [14]:
def genfi(n):#fibanocci series function
    a=1
    b=1
    for i in range(n):
        yield a # try to remember what i difd l;ast time, think what i need to do next
        a,b=b , a+b
genfi(10)        
# iterator created

In [15]:
def genfi(n):#fibanocci series function
    a=1
    b=1
    for i in range(n):
        print(a)
        a,b=b , a+b
genfi(10)

1
1
2
3
5
8
13
21
34
55

In [19]:
def genfi(n):#fibanocci series function
    a=0
    b=1
    for i in range(n):
        print(a)
        a,b=b , a+b # a=b, b=a+b
genfi(10)

0
1
1
2
3
5
8
13
21
34

In [20]:
for i in genfi(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

TypeError: 'NoneType' object is not iterable

In [37]:
b=iter(genfi(10))
next(b)

0
1
1
2
3
5
8
13
21
34

TypeError: 'NoneType' object is not iterable

In [25]:
def square(n):
    return n**2
square(4)

16

In [38]:
l=[1,2,3,4,5,6,7]
n=[]
for i in l:
   n.append(square(i))
n

[1, 4, 9, 16, 25, 36, 49]

In [39]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49]

In [40]:

def square(n):
    return n**2

In [41]:
l

[1, 2, 3, 4, 5, 6, 7]

In [44]:

list(map(square,l)) # a function as first argument, iterable object are second argument

[1, 4, 9, 16, 25, 36, 49]

In [45]:
for i in map(square,l):
    print(i)

1
4
9
16
25
36
49

In [46]:
#lambda function
l

[1, 2, 3, 4, 5, 6, 7]

In [49]:
list(map(lambda x:x**2,l)) # lambda is a keyword
# lambda fun- anonymous fun, (means fun without name)
# anonymous fun taking 1 argument here, returning square.

[1, 4, 9, 16, 25, 36, 49]

In [54]:
c=lambda x:x**2
list(map(c,l))

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# map fun-  performing

In [58]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[3,4,5,7,4,5,7,9]
# find summation of list in index wise
def summation(x,y,z):
    return x+y+z
list(map(summation,a,b,c))
# summation have 3 arguments, so map fun need 3 iterable objects

[9, 12, 15, 19]

In [60]:
list(map(lambda x,y,z: x+y+z,a,b,c))

[9, 12, 15, 19]

In [61]:
# reduce function
from functools import reduce
def summation(a,b):
    return a+b
l=[1,2,3,4,5,6]
reduce(summation,l) #first argument- function, second- sequence
# aggregation operation.

21

In [62]:
reduce(lambda x,y: x+y,l) # cumulative addition. etc will get through this ,method

21

In [66]:
#filter fun- filter out data
l=[2,3,4,5,6,7,4,6,5,8,2,0,33,45,78]
list(filter(lambda x:x%2==0,l)) # printing the evn no
#only true dataset get as output

[2, 4, 6, 4, 6, 8, 2, 0, 78]

In [67]:
def even_check(n):
    if n%2==0:
        return True
list(filter(even_check,l))

[2, 4, 6, 4, 6, 8, 2, 0, 78]

In [69]:
def even_check(n):
    if n%2 !=0:
        return True
list(filter(even_check,l))

[3, 5, 7, 5, 33, 45]