In [5]:
l=[4,5,6,"sudh"] # list
type(l)

list

In [6]:
l

[4, 5, 6, 'sudh']

In [8]:
t=(1,2,3,4,"sufh",7.6,5+8j) # tuple
type(t)

tuple

In [9]:
t

(1, 2, 3, 4, 'sufh', 7.6, (5+8j))

In [10]:
t[0]

1

In [11]:
t[-1]

(5+8j)

In [13]:
t[:: -1] # no difference between slicing in list and tuple
# no difference between in entity or functionality in list & tuple

((5+8j), 7.6, 'sufh', 4, 3, 2, 1)

In [14]:
len(t)

7

In [16]:
l=[1,2,3,4]
l[0]="kumar"
l # list support item reassignment - mutable

['kumar', 2, 3, 4]

In [17]:
t=(1,2,3,4,"sufh",7.6,5+8j)
t[0]="kumar"
t # tuple is not support item reassignment - immutable

TypeError: 'tuple' object does not support item assignment

In [18]:
s="ahs"
s[0]="g"
s # string is also immutable

TypeError: 'str' object does not support item assignment

In [23]:
t =(3,4,5,6)
for i in t:
    print(i)

3
4
5
6

In [24]:
for i in range(len(t)):
    print(t[i])

3
4
5
6

In [22]:
l=[1,2,3,4]
for i in l: # list having many inbuild functions 
    print(i)

1
2
3
4

In [25]:
t =(3,4,5,3,6,3,6)
t.count(3)
# touple having 2 inbuild functions - count, index

3

In [26]:
t.index(3)
#In Python, the index method on a tuple (or list) returns the first occurrence of the specified value. 
#when you call t.index(3),it searches for the first occurrence of the value 3 in the tuple t and returns its index.

0

In [27]:
t.index(4)

1

In [28]:
t=(2,3,4,5)
t1=(6,7,8,9)
t+t1 # conacatenation

(2, 3, 4, 5, 6, 7, 8, 9)

In [32]:
t=(2,3,4,5)
l=list(t)
l.insert(1,"gopal") 
# for inserting something in tuple, need to do typeconversion to list and then add that value
tuple(l)

(2, 'gopal', 3, 4, 5)

In [34]:
s=set([1,2,3,4,52,3,4,51,45,3,4,2,3,2,3,2,1,1,1,2,3,1]) # here every values are i m,ultiple times
s # while prointing it will show only in 1 time
#collection try to remove duplicat, or keep unique values

{1, 2, 3, 4, 45, 51, 52}

In [35]:
s=set([1,2,3,4,52,3,4,51,45,3,4,2,3,2,3,2,1,1,1,2,3,1,'sudh','Sudh']) 
s # it will give unique element. no duplivcate. first sudh - small next one- Sudh caps

{1, 2, 3, 4, 45, 51, 52, 'Sudh', 'sudh'}

In [36]:
s[0] # set always rep inside {} curly braces

TypeError: 'set' object is not subscriptable

In [37]:
for i in s:
    print(i)

1
2
3
4
Sudh
45
sudh
51
52

In [39]:
d=set((3,4,2,5,2,9))# set
d

{2, 3, 4, 5, 9}

In [41]:
list(d)[::-1]

[9, 5, 4, 3, 2]

In [43]:
b={4,5} # dictionary
type(b)

dict

In [45]:
b={4,5}
b.add("sudh") # it will add element into last position
b

{4, 5, 'sudh'}

In [46]:
b.pop()# it will pop last element from the dictionary

'sudh'

In [53]:
k={1,2,3,3,4,1,2,"sufh"}
k # it will give ordered collection of data

{1, 2, 3, 4, 'sufh'}

In [54]:
s={1,2,5,3,57,44,"sufh"}
s #it is sorted based on the first place digit- 1,567,9

{1, 2, 3, 44, 5, 57, 'sufh'}

In [55]:
for i in s:
    print(i)

1
2
3
5
44
sufh
57

In [57]:
l=[1,2,3,4]
s=set(l)
s

{1, 2, 3, 4}

In [58]:
list(s)

[1, 2, 3, 4]

In [59]:
d={}
type(d)

dict

In [62]:
d={"name":"sudh","surname":"kumar"}
d #dictionary is a keyvalue pairs

{'name': 'sudh', 'surname': 'kumar'}

In [75]:
d={"name":"sudh","surname":"kumar","name":"hgy"}
d # it will override the name print new value

{'name': 'hgy', 'surname': 'kumar'}

In [76]:
d ={"key":[1,2,3,4,5,[345,65]],"key1":(3,3,4,5,6),"key2":{3,4,5,6},"key3":{'x':"dyf",'d':"rew"}}
d

{'key': [1, 2, 3, 4, 5, [345, 65]],
 'key1': (3, 3, 4, 5, 6),
 'key2': {3, 4, 5, 6},
 'key3': {'x': 'dyf', 'd': 'rew'}}

In [77]:
d['key'] # using key we are accessing

[1, 2, 3, 4, 5, [345, 65]]

In [78]:
d['key'][5][0]

345

In [80]:
d['key3']['x']

'dyf'

In [81]:
for i in d:
    print(d[i])

[1, 2, 3, 4, 5, [345, 65]]
(3, 3, 4, 5, 6)
{3, 4, 5, 6}
{'x': 'dyf', 'd': 'rew'}

In [82]:
for i in d.keys():
    print(d[i])

[1, 2, 3, 4, 5, [345, 65]]
(3, 3, 4, 5, 6)
{3, 4, 5, 6}
{'x': 'dyf', 'd': 'rew'}

In [83]:
d.values()

dict_values([[1, 2, 3, 4, 5, [345, 65]], (3, 3, 4, 5, 6), {3, 4, 5, 6}, {'x': 'dyf', 'd': 'rew'}])

In [85]:
m=[]
for i in d.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
m

[3, 3, 4, 5, 6]

In [86]:
d

{'key': [1, 2, 3, 4, 5, [345, 65]],
 'key1': (3, 3, 4, 5, 6),
 'key2': {3, 4, 5, 6},
 'key3': {'x': 'dyf', 'd': 'rew'}}

In [89]:
d["key5"]="this is a new data"
d

{'key': [1, 2, 3, 4, 5, [345, 65]],
 'key1': (3, 3, 4, 5, 6),
 'key2': {3, 4, 5, 6},
 'key3': {'x': 'dyf', 'd': 'rew'},
 'key5': 'this is a new data'}

In [90]:
d["key2"]="sgwhjwk" # key will not gona make duplicate, value just override
d

{'key': [1, 2, 3, 4, 5, [345, 65]],
 'key1': (3, 3, 4, 5, 6),
 'key2': 'sgwhjwk',
 'key3': {'x': 'dyf', 'd': 'rew'},
 'key5': 'this is a new data'}

In [91]:
# list comprehension- we can perform multi task into single

In [93]:
d={}
for i in range(10):
    d[i]=i**2
d # key is intergers, value is squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [95]:
l=['sudh','kumar','xgy','sdg']
d={}
for i in l:
    d[i]=i.upper()
d

{'sudh': 'SUDH', 'kumar': 'KUMAR', 'xgy': 'XGY', 'sdg': 'SDG'}

In [98]:
l=['sudh','kumar','xgy','sdg']
d={}
for i in l:
    d[i]=i.isupper() # using isupper checking whether it is in uppercase
d

{'sudh': False, 'kumar': False, 'xgy': False, 'sdg': False}

In [99]:
#another method
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [100]:
d.items()

dict_items([('sudh', False), ('kumar', False), ('xgy', False), ('sdg', False)])

In [103]:
#python- functional programming language
def test(): # defining fun
    pass# don't want create body, we can use pass
test()# calling function

In [105]:
type(test())

NoneType

In [104]:
range(4)

range(0, 4)

In [106]:
for i in range(8):
    pass

In [112]:
def test():
    a=1
    b=6
    print("this is my first function", a+b)
test()

this is my first function 7

In [113]:
def test():
    a=1
    b=6
    print(int(a+b))
test()

7

In [114]:
type(print("xyx"))

xyx

NoneType

In [115]:
type(test())

7

NoneType

In [126]:
def test():
    a=1
    b=6
    return a+b
test()

7

In [127]:
type(test())

int

In [128]:
n=test()
n

7

In [129]:
n+90

97

In [131]:
def test():
    a=1
    b=6
    return "my name is gopal"
n=test()
n+"bring"

'my name is gopalbring'

In [134]:
def test(a,b):
    return a+b
test(290,345)

635

In [135]:
test("sufh","kumar") # not defined the datatype as int. so we can add the string also

'sufhkumar'

In [138]:

type(test("sufh","kumar"))

str

In [139]:
y=test("sufh","kumar")
y.upper()

'SUFHKUMAR'

In [140]:
y=test("sufh","kumar")
y.lower()

'sufhkumar'

In [142]:
test([3,4,5,6],[3,4,7,8])

[3, 4, 5, 6, 3, 4, 7, 8]

In [143]:
def test(a,b):
    return a+b,a*b
test(4,5)

(9, 20)

In [144]:
def test(a,b):
    return a+b,a*b
x,y=test(4,5)

In [145]:
x

9

In [146]:
y

20

In [147]:
a=1
b=2
c=3
d="sufh"

In [148]:
a,b,c,d=5,6,7,"wsdw"
d

'wsdw'

In [153]:
c

7

In [150]:
y,_=test(4,5)
_

20

In [151]:
print()

In [152]:
def test(a,b="sudh"):
    return a+b

In [154]:
test("susj")

'susjsudh'

In [155]:
test("susj","FTUUJJ")

'susjFTUUJJ'

In [159]:
a=1
def test():
    f=6
    return a+f
f

NameError: name 'f' is not defined

In [160]:
a=1
def test():
    f=6
    return a+f
test()

7

In [161]:
def test():
    return "sufh",[2,3,4,5],{'key':45}
test() # output- tuple
#When multiple values are returned from a function in Python,
#they are automatically packed into a tuple.

('sufh', [2, 3, 4, 5], {'key': 45})

In [162]:
_,_,u=test()
u

{'key': 45}